:root {
    --base-background-color: #efefef;
    --shadow-boxes: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --white-boxes-gradient: linear-gradient(to bottom right, rgba(255, 255, 255, 1), rgb(239, 239, 239));
}


body {
    background-color: var(--base-background-color);
}

#about-me {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-image: linear-gradient(to bottom right, rgba(0, 220, 55, 0.5), rgba(73, 100, 255, 0.5));
}

.about-me-container-left {
    margin-left: 5%;
    margin-top: -25px;
}


.profile-img {
    width: 260px;
    height: 380px;
    background-image: url(/img/micara2023.png);
    background-size: cover;
    background-position: center;
    mask-image: url(/img/micara2023.png), linear-gradient(black 80%,
            transparent);
    -webkit-animation: fromLeft 2s both;
    animation: fromLeft 2s both;
}

.about-me-name {
    text-align: center;
    padding: 5px;
    background-image: var(--white-boxes-gradient);
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: var(--shadow-boxes);
    -webkit-animation: fromLeft 2s both;
    animation: fromLeft 2s both;
}

.about-me-name h3 {
    font-weight: 800;
    margin: 0;
    padding: 15px;
}

.fa-user {
    font-size: 1.4rem;
}

.about-me-contact {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    background-image: var(--white-boxes-gradient);
    box-shadow: var(--shadow-boxes);
    -webkit-animation: fromLeft 2s both;
    animation: fromLeft 2s both;
}

.about-me-contact h3 {
    margin-bottom: 0px;
}

.fa-brands,
.fa-envelope {
    padding: 10px;
    color: #252525;
    transition: color 300ms;
}

.contact-links {
    padding-top: 1rem;
    font-size: 2rem;
}

.contact-links .fa-brands:hover,
.fa-envelope:hover {
    color: tomato;
}

.about-me-skills {
    grid-template-columns: 50% 50%;
    margin-top: 40px;
    background-image: var(--white-boxes-gradient);
    padding: 15px;
    -webkit-animation: fromLeft 2s both;
    animation: fromLeft 2s both;
}

.about-me-skills h3 {
    text-align: center;
    margin-bottom: 30px;
}

.about-me-skills .logo-block img {
    width: 50px;
}

.logos {
    display: grid;
    grid-template-columns: 50% 50%;
}

.logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
    margin-bottom: 20px;
}

.logo-block p {
    margin-top: 5px;
    text-align: center;
}

/*                                     RIGHT COLUMN*/
.relevant {
    color: tomato;
}

.about-me-container-right {
    width: 100%;
    margin-top: 15px;
    max-width: 700px;
    margin-left: 5%;
    margin-right: 5%;
}

.about-me-title {
    padding: 20px;
    margin-bottom: 22px;
}

.about-me-title h2 {
    font-size: 5rem;
    font-weight: 900;
    background-image: linear-gradient(to right, #000000, #535353);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    -webkit-animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.about-me-phrase {
    padding: 20px;
    margin-bottom: 40px;
    background-image: var(--white-boxes-gradient);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    box-shadow: var(--shadow-boxes);
    -webkit-animation: fromRight 2s both;
    animation: fromRight 2s both;
}

.about-me-academics {
    padding: 20px;
    margin-bottom: 40px;
    background-image: var(--white-boxes-gradient);
    box-shadow: var(--shadow-boxes);
    -webkit-animation: fromRight 2s both;
    animation: fromRight 2s both;
}

.about-me-academics h3 {
    text-align: left;
    margin-bottom: 20px;
}

.about-me-academics .paragraph {
    margin-bottom: 20px;
    margin-left: 10px;
}

.about-me-academics .paragraph .academics-dates {
    font-size: 0.8rem;
    color: #040404;
    background-color: #e4e4e4;
    width: fit-content;
    padding: 5px;
}

.about-me-experience {
    padding: 20px;
    margin-bottom: 40px;
    background-image: var(--white-boxes-gradient);
    box-shadow: var(--shadow-boxes);
    -webkit-animation: fromRight 2s both;
    animation: fromRight 2s both;
}

.about-me-experience h3 {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.paragraph-intro-exp {
    margin-bottom: 20px;
}

.paragraph-exp {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media (width <=900px) {

    .about-me-container-left {
        margin-left: 0;
        margin-top: -25px;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        /* Cambia la dirección del contenedor a columna */
        align-items: center;
        /* Centra los elementos horizontalmente */
    }

    .about-me-title h2 {
        font-size: 3rem;
        text-align: center;
    }

}

/*Animations*/

@keyframes fromLeft {

    0% {
        translate: 30px 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }

}

@keyframes fromRight {

    0% {
        translate: -30px 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }

}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}