@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

html {
    height: 100vw;
}

body {
    background-color: #efefef;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    position: relative;
}

.logo img {
    width: 160px;
}

.nav_bar {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.nav_bar .links {
    display: flex;
    gap: 2rem;
}

.nav_bar .links li {
    padding: 0.5rem 1rem;
    background-color: none;
    cursor: pointer;
}

.nav_bar .links li a {
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    color: #252525;
    transition: all 200ms;
}

.nav_bar .links li a:hover {
    color: #00b09b;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.nav_bar .toggle_btn {
    color: #252525;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-image: linear-gradient(to right, #6f00ff, #dc3dff);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: scale 200ms;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

.toggle_btn {
    position: fixed;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    top: 20px;
    /* Ajusta esto según sea necesario */
    right: 30px;
    /* Ajusta esto según sea necesario */
    z-index: 9999;
    /* Asegura que esté por encima de otros elementos */
}

.fa-xmark {
    margin: 0 auto;
    align-items: center;
    width: 21px;
}

/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    position: fixed;
    right: 2rem;
    top: 90px;
    height: 0px;
    width: 300px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(0px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    box-shadow: 2px 2px 2px #262626;
    z-index: 1;
}

.dropdown_menu.open {
    height: 280px;
}

.dropdown_menu li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    color: #565050;
    border-radius: 15px;
}

.dropdown_menu li:hover a {
    background-color: #dfdfdf;
}

.dropdown_menu .action_btn {
    width: 90%;
    display: flex;
    justify-content: center;
    color: #fff;
}

/* Welcome to AGL Design*/
section #welcome {
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    align-content: center;
    width: 90%;
    max-width: 1080px;
    z-index: 0;
}

#first-about{
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 180px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-position: center;
    background-size: cover;
    max-width: 1250px;
    background-image: linear-gradient(to right, #72d19b, #a45dd7);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

@keyframes reveal-right {
    from{
        opacity: 0;
        translate: 50% 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes reveal-left {
    from{
        opacity: 0;
        translate: -50% 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes reveal-opacity{
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes reveal-scale-opacity{
    0%{
        scale: 0.9;
        opacity: 0;
    }


    100% {
        scale: 1;
        opacity: 1;
    }
}


#profile-pic{
    width: 30%;
    min-height: 400px;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-right: 20px;
    position: relative;
    border: 2px solid #252525;
    background-image: url(/img/micara2023.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 8px;
    animation: reveal-left linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.introduction{
    margin-top: 30px;
    width: 40%;
    height: fit-content;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.introduction > h2{
    font-size: 2rem;
    font-weight: 900;
    color: #282828;
}

.introduction .paragraph-one{
    font-size: 1.2rem;
    font-weight: 900;
    color: #505050;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.introduction .paragraph-two{
    font-size: 1rem;
    font-weight: 400;
    color: #505050;
}

.introduction .paragraph-one span{
    color: #da2648;
}

.introduction .paragraph-two span{
    color: #da2648;
}

/*Responsive presentación*/

@media (width < 820px){
    #first-about{
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 180px;
        display: flex;
        height: fit-content;
        justify-content: center;
        flex-direction: column;
        max-width: 1250px;
        background-image: linear-gradient(to right, #72d19b, #a45dd7);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    #profile-pic{
        margin: 0 auto;
        width: 60%;
        height: 400px;
        margin-top: -60px;
        border: 2px solid #252525;
        background-image: url(/img/micara2023.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 8px;
    }
    
    .introduction{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: -40px;
        width: 80%;
        height: fit-content;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .introduction > h2{
        font-size: 2rem;
        font-weight: 900;
        color: #282828;
    }
    
    .introduction .paragraph-one{
        font-size: 1.2rem;
        font-weight: 900;
        color: #505050;
        line-height: 25px;
        letter-spacing: 0.5px;
    }
    
    .introduction .paragraph-two{
        font-size: 1rem;
        font-weight: 400;
        color: #505050;
    }
}

/*Motion Graphics*/

#motion {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

#motion h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 3px;
    color: #fff;
    background-size: 150%;
}

#motion p {
    font-size: 1.5em;
    max-width: 50%;
    color: #fff;
}

#motion p span {
    color: #fff;
    font-weight: bolder;

}

.motion-container {
    margin: 0 auto;
    display: grid;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    place-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 1.5rem;

}


.motion-item > img {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 45%;
}

@keyframes reveal{
    from{
        opacity: 0;
        translate: 0 50px;
    }

    to{
        opacity: 1;
        translate: 0 0;
    }
}

.marginado {
    font-size: 1.5em;
    color: #fff;
}

/*Test wavy*/
.waviy>span {
    font-size: 1.5em;
    color: #fff56e;
    position: relative;
    letter-spacing: -4px;
    display: inline-block;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}

.motion-item img.active {
    display: none;
}

.motion-item:hover img.static {
    display: none;
}

.motion-item:hover img.active {
    display: inline-block;
}

.motion-item h3 {
    padding: 15px;
    margin: 15px;
    color: #252525;
    font-weight: 500;
    border: 1px solid #003D72;
    border-right: none;
    box-shadow: 5px 0px #252525;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.motion-item:hover h3 {
    color: #ffffff;
    font-size: 700;
    background-color: #42d3b1;
}

.motion-item>h3>span {
    font-size: 25px;
    color: #363636;
    float: right;
}

.static:hover {
    opacity: 0;
}

/* Brand Items ---------------------------- */

.message {
    background-color: #fff;
    color: #cf004c;
    display: block;
    font-weight: 900;
    padding-left: 0.5rem;
    overflow: hidden;
    top: 0.2rem;
    left: 270px;
}


.word {
    font-family: "Montserrat";
    font-size: 1.5rem;
    animation: openclose 10s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }

    5% {
        width: 0;
    }

    15% {
        width: 230px;
    }

    30% {
        top: 0.2rem;
        width: 230px;
    }

    33% {
        top: 0.2rem;
        width: 0;
    }

    35% {
        top: 0.2rem;
        width: 0;
    }

    38% {
        top: -4.5rem;

    }

    48% {
        top: -4.5rem;
        width: 190px;
    }

    62% {
        top: -4.5rem;
        width: 190px;
    }

    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }

    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    86% {
        top: -9rem;
        width: 285px;
    }

    95% {
        top: -9rem;
        width: 285px;
    }

    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

#brand {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #b0008a, #f1a636);
}

#brand h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 3px;
    color: #fff;
    background-size: 150%;
}

#brand p {
    font-size: 1.5em;
    max-width: 50%;
    color: #fff;
}

#brand p span {
    color: #fff;
    font-weight: bolder;

}

#brand-section {
    width: 100%;
    margin: 0 auto;
    align-content: center;
}

.brand-item {
    padding: 20px 20px 40px 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.brand-item h3 {
    margin: 15px;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;
    color: #252525;
    font-weight: 500;
    border: 1px solid #003D72;
    box-shadow: 5px 5px 0px #ffca56;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: reveal-left linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.brand-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.brand-img img {
    margin: 0 auto;
    width: 95%;
    box-shadow: 0px 0px 10px #c7c7c7;
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.brand-comp {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
}

.brand-comp img {
    margin: 0 auto;
    width: 95%;
    box-shadow: 0px 0px 10px #c7c7c7;
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.brand-img .brand-paragraph {
    margin: 0 auto;
    width: 95%;
    box-shadow: 0px 0px 10px #c7c7c7;
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.brand-paragraph {
    width: 95%;
    height: 100%;
    align-content: center;
    background-color: #fff;
    padding: 20px;
}



/* UI/UX Starts here */

#ui-ux {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #279aff 0%, #B721FF 100%);
}

#ui-ux h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
    color: #fff;
    height: 100px;
}

#ui-ux p {
    padding-top: 20px;
    font-size: 1.5em;
    color: #fff;
}

.ui-ux-section {
    margin: 0 auto;
    width: 80%;
}

.ui-ux-item {
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto;
}

.ui-ux-item > img {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 850px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ui-ux-item h3 {
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    max-width: 850px;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 1.5rem;
    border: 1px solid #003D72;
    border-right: none;
    box-shadow: 5px 0px #ac04be, rgba(0, 0, 0, 0.12) 0px 3px 8px;
    ;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.ui-ux-item span {
    font-size: 1rem;
    font-weight: 500;
    vertical-align: middle;
    color: #ac04be;
}


.ui-ux-section a {
    margin: 0 auto;
    width: fit-content;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.prototype-btn {
    display: block;
    margin: 0px auto;
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(to right, #6f00ff, #ff3da8);
    border-radius: 25px;
    transition: all 300ms;
}

.prototype-btn:hover {
    scale: 1.05;
    box-shadow: inset 0px 0px 15px #ffcff3;
}

.prototype-btn:active {
    scale: 0.95;
}

/* Ilustration CSS STARTS*/

#art {
    display: flex;
    padding: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #02568b, #06ff9f);
}

#art h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 3px;
    color: #fff;
    background-size: 150%;
}

#art p {
    font-size: 1.5em;
    max-width: 50%;
    color: #fff;
}

#art-section {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 20% 20% 20% 20%;
    grid-template-areas:
        "header header header"
        "principal principal side"
        "principal principal side"
        "alone1 alone2 alone3"
        "alone4 alone5 alone6"
    ;
    gap: 1rem;
    width: 90%;
    max-width: 1350px;
    height: 1700px;
    margin-bottom: 200px;
}

#art-section .header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: header;
    background-size: contain;
    background-position: center;
    background-image: url(/img/art/metaballs.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#art-section .principal {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: principal;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/mariposa_remaster.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#art-section .side {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: side;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/rezilla.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#art-section .alone1 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: alone1;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/egypt_recolor.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#art-section .alone2 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: alone2;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/polilla.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#art-section .alone3 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: alone3;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/xenomorph.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#art-section .alone4 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: alone4;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/tanjiro.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

#art-section .alone5 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: alone5;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/black-hole.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

#art-section .alone6 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-area: alone6;
    background-size: cover;
    background-position: center;
    background-image: url(/img/art/contrast.jpg);
    animation: reveal-scale-opacity linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@media (width < 1050px) {
    #art-section {
        display: grid;
        margin: 0 auto;
        padding-bottom: 20px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 150px 300px 300px 300px 300px 300px 300px 300px;
        grid-template-areas:
            "header header"
            "principal principal"
            "principal principal"
            "alone1 side"
            "alone4 side"
            "alone3 alone2"
            "alone5 alone6"
        ;
        gap: 1rem;
        width: 90%;
        height: 1700px;
    }
}

@media (width < 780px) {
    #art-section {
        display: grid;
        margin: 0 auto;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 400px 300px 300px 300px 300px 300px 300px;
        grid-template-areas:
            "header"
            "principal"
            "side"
            "alone1"
            "alone2"
            "alone3"
            "alone4"
            "alone5"
            "alone6"
        ;
        gap: 1rem;
        width: 90%;
        height: 1700px;
    }
}

/* Ilustration CSS ENDS*/


/*Boton back*/

#flotante {
    display: inline-block;
    backdrop-filter: blur(0.8);
    padding-top: 13px;
    font-weight: 800;
    font-size: 26px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    color: #fff;
    background-color: #003D72;
    transition: all 300ms;
    border: 2px solid #073a67;
}

#flotante:hover {
    background-color: #105da0;
    scale: 0.95;
    border: 2px solid #fff;
}

#flotante:active {
    background-color: #073a67;
    scale: 1.05;
}

#flotante span {
    font-weight: 700;
    font-size: 8px;
    color: rgba(0, 0, 0, 0);
    transition: all 300ms;
}

#flotante:hover span {
    color: rgba(0, 0, 0, 1);
    transform: translateY(-2px);
}

/* Responsive Design */

/*nav bar responsive*/

@media (max-width: 920px) {

    .nav_bar .links,
    .nav_bar .action_btn {
        display: none;
    }

    .nav_bar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .logo img {
        width: 120px;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    /*Responsive to make separators fontsize small in small devices STARTS */
    #motion h2 {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    #motion p {
        font-size: 1.2rem;
    }

    #motion span {
        font-size: 1.2rem;
    }

    .motion-item {
        width: 100%;
    }

    .marginado {
        font-size: 1.2rem;
    }


    #brand h2 {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    #brand p {
        font-size: 1.2rem;
    }

    #brand span {
        font-size: 1.2rem;
    }


    #ui-ux h2 {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    #ui-ux p {
        font-size: 1.2rem;
    }

    #ui-ux span {
        font-size: 1.2rem;
    }

    #art h2 {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    #art p {
        font-size: 1.2rem;
    }

    #art span {
        font-size: 1.2rem;
    }

    .ui-ux-item span {
        display: none;
    }

    .ui-ux-item h3 {
        text-align: center;
        font-size: 1rem;
    }

    /*Responsive to make separators fontsize small in small devices ENDS */

}

/*Motion graphics responsive*/

@media (max-width: 1050px) {
    .motion-container {
        grid-template-columns: auto;
    }

    .brand-img {
        grid-template-columns: auto;
        width: 100%;
    }
}